<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>Music Player :: Albums</title>
  </head>
  <body>
    <div class="navbar">
      <%- include('partials/navbar') %>
    </div>
    <div  class="container page-content">
      <div class="page-heading row">
        <h1 class="col s6">Albums</h1>
      </div>
      <% albums.forEach((album) => { %>
        <div class="divider"></div>
        <div class="row section albums-item">
          <div class="col s4 offset-s1 album-image">
            <img src="<%= album.image %>" alt="<%= album.title %>" height="200" class="circle responsive-img">
          </div>
          <div class="col s4 offset-s2 album-info">
            <a href="/albums/<%= album.id %>">
              <h3><%= album.title %></h3>
            </a>
              <p>Artist:
                <a href="/artists/<%= album.artist_id %>">
                  <% for(let i = 0; i < artists.length; i++) {%>
                    <% if(artists[i].id === album.artist_id) {%>
                    <span> <%= artists[i].name %></span>
                    <% } %>
                  <% } %>
                </a>
              </p>
            <% let count = 0 %>
            <% for (let i = 0; i < songs.length; i++) { %>
              <% if (songs[i].album_id === album.id) { %>
                <% count ++ %>
              <% } %>
            <% } %>
            <p><%= count %> Songs</p>
          </div>
        </div>
      <% }) %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>
