<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Music Player :: Albums :: <%= title %></title>
  </head>
  <body>
    <div>
      <%- include('partials/navbar') %>
    </div>
    <h1><%= title %></h1>
    <% for(let i = 0; i < artists.length; i++) { %>
      <% if (artists[i].id === artist) { %>
          <a href="/artists/<%= artist %>">
            <p><%= artists[i].name %></p>
          </a>
      <% } %>
    <% } %>
    <p><%= year %></p>
    <ul>
      <% songs.forEach((song) => { %>
        <% if (song.album_id === id) { %>
          <li>
            <span><%= song.title %></span>
            <span><%= song.track_no %></span>
            <span><%= song.length %></span>
          </li>
        <% } %>
      <% }) %>
    </ul>

  </body>
</html>
