<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <title>Music Player :: Artist :: <%= name %></title>
  </head>
  <body>
    <div class="header">
      <%- include('layout/header') %>
    </div>
    <div class="container page-content">
      <div class="page-heading row">
        <div class="artist-artist-info col s4">
          <h1><%= name %></h1>
          <% let albumCount = 0 %>
          <% for (let i = 0; i < albums.length; i++) { %>
            <% if (albums[i].artist_id === id) { %>
              <% albumCount++ %>
            <% } %>
          <% } %>
          <h4>
            <span>Albums: <%= albumCount %></span>
            <span>Genre: <%= genre %></span>
          </h4>
        </div>
        <div class="artist-image col s4 offset-s4">
          <img src="<%= image %>" alt="<%= name %>" height="200" class="circle responsive-img">
        </div>
      </div>
    </div>
    <%- include('artists/album') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>
